{% assign preload = false %}
{% assign full_width = false %}
{% assign eager = false %}
{% assign image_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
{% assign widths = '295,394,590,700,800,1000,1200,1500,1800,2000,2400' %}
{% assign widths = widths | split: ',' %}
{% assign max_height = 0 %}

{% capture valid_widths %}
  {% for width in widths %}
    {% assign width_int = width | plus: 0 %}
    {% if image.width >= width_int %}{{ width_int }},{% endif %}
  {% endfor %}
  {{ image.width }}
{% endcapture %}

{% assign widths = valid_widths | strip_newlines | remove: ' ' %}

{% assign lazy_classes = 'lazyload' %}
{% if preload %}
  {% assign lazy_classes = lazy_classes | append: ' lazypreload' %}
{% endif %}

{% assign width = image.width | append: "px" %}
{% if max_height > 0 %}
  {% assign width = max_height | times: image.aspect_ratio | round: 2 | append: 'px' %}
{% elsif full_width %}
  {% assign width = "100%" %}
{% endif %}

{% assign widths_array = widths | split: ',' %}
{% capture srcset_value %}{% for w in widths_array %}{% assign img_size = w | strip | append: 'x' %}{{ image | img_url: img_size }} {{ w | strip }}w{% unless forloop.last %}, {% endunless %}{% endfor %}{% endcapture %}

<div
  class="image--root"
  data-aspectratio="{{ image.aspect_ratio }}"
  style="width: {{ width }};"
  {{ custom_attributes }}
>
  <div
    class="image--container"
    style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;"
  >
    {% if eager %}
      <img
        src="{{ image | img_url: '1200x' }}"
        srcset="{{ srcset_value }}"
        sizes="auto"
        width="{{ image.width }}"
        height="{{ image.height }}"
        alt="{{ image.alt | escape }}"
        loading="eager"
        fetchpriority="high"
      >
    {% else %}
      <img
        class="{{ lazy_classes }}"
        data-src="{{ image_url }}"
        data-sizes="auto"
        data-widths="[{{ widths }}]"
        data-aspectratio="{{ image.aspect_ratio }}"
        width="{{ image.width }}"
        height="{{ image.height }}"
        alt="{{ image.alt | escape }}"
      >
    {% endif %}
  </div>

  <noscript>
    <img
      src="{{ image | img_url: '1024x1024' }}"
      width="{{ image.width }}"
      height="{{ image.height }}"
      alt="{{ image.alt | escape }}"
    >
  </noscript>
</div>
